#work{
    max-width: 1600px;
    height: 1000px;
    font-family: sans-serif;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#headwork{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
#workmain{
    max-width: 1600px;
    max-height: 600px;
    padding: 30px 70px 0px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    gap: 20px;
}
#card{
    max-width: 400px;
    height: 270px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 119, 119, 0.087);
    border: 2px solid rgba(124, 119, 119, 0.719);
    border-radius: 30px;
}
#cardimage{
    width: 250px;
    height: 150px;
    border-radius:25px;
}
#click{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    font-size: small;
    border-radius: 30px;
    background-color:transparent;
    transition: ease-in-out .3s;
    border: 2px solid  rgba(94, 87, 87, 0.957);
}
#click:hover{
    background-color: whitesmoke;
    color:#212121;
}
#anchor2{
    display: flex;
    gap: 30px;
    margin: 5px;
}
#projectname{
    margin: 3px;
}
#arrowwork{
    cursor: pointer;
    top: 402%;
    left: 95%;
    position: absolute;
    width: 40px;
    height: 40px;
}
@media(max-width:1485px){
    #card{
        
        padding: 20px;
        max-width: 230px;
    }
    #cardimage{
        max-width: 200px;
    }
    #click{
        padding: 11px;
        max-width: 90px;
    }
    #anchor2{
        gap: 20px;
    }
    #projectname{
        font-size:22px;
    }
}
@media(max-width:850px){
    #arrowwork{
        display: none;
    }
    #work{
        gap: 0px;
        margin-top: 100px;
        margin: 10px 10px 10px 10px;
        height: 1200px;
        margin-bottom: 100px;
    }
    #workmain{
        max-height: 800px;
        padding: 10px;
    }
    #card{
        max-width: 130px;

        padding: 10px;
    }
    #cardimage{
        max-width: 110px;
    }
    #click{
        font-size: 10px;
        padding: 5px;
        max-width: 50px;
    }
    #anchor2{
        gap: 5px;
    }
    #projectname{
        font-size: small;
    }
}

@media(max-width:970px ){
    #work{
        margin: 0px;
        padding: 5px;
       
    }
}